<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Consultorio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Consultorio.Properties.Settings>
            <setting name="FechaCuotaDesde" serializeAs="String">
                <value>11/07/2011 16:44:00</value>
            </setting>
            <setting name="FechaCuotaHasta" serializeAs="String">
                <value>11/07/2011 16:44:00</value>
            </setting>
            <setting name="UltimaRutaGuardarBackup" serializeAs="String">
                <value>C:\BACKUP\</value>
            </setting>
        </Consultorio.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
